<div class="hero-section">
  <div class="container text-center py-5">
    <%= image_tag 'back.png', class: "img-fluid hero-image mb-4" %>
    <div class="d-flex justify-content-center gap-3">
      <%= link_to "ログイン", login_path, class: "btn btn-success btn-lg px-4" %>
      <%= link_to "登録", new_user_path, class: "btn btn-outline-success btn-lg px-4" %>
    </div>
  </div>
</div>
